@for (toast of toastService.toasts; track toast) {
  <ngb-toast
    [class]="'bg-dialog toast-' + toast.type"
    [autohide]="toast.autoHide"
    [delay]="toast.delayTime || 5000"
    (hide)="toastService.remove(toast)"
    [ngClass]="[toast.className || '']"
  >
    <div>
      <ng-template ngbToastHeader>
        <div class="d-flex justify-content-between w-100">
          <div class="d-flex flex-row">
            @if (toast.type === "success") {
              <mat-icon
                class="text-white mr-1"
                svgIcon="heroicons_outline:check-badge"
              ></mat-icon>
            } @else if (toast.type === "info") {
              <mat-icon
                class="text-white mr-1"
                svgIcon="heroicons_outline:information-circle"
              ></mat-icon>
            } @else if (toast.type === "warning") {
              <mat-icon
                class="text-white mr-1"
                svgIcon="heroicons_outline:exclamation-triangle"
              ></mat-icon>
            } @else if (toast.type === "danger") {
              <mat-icon
                class="text-white mr-1"
                svgIcon="heroicons_outline:bell-alert"
              ></mat-icon>
            }
            <strong class="mr-auto toast-title">{{
              toast.title || getTitle(toast)
            }}</strong>
          </div>
          <small class="toast-time mr-1 pl-3">{{
            toast.time || "Just now"
          }}</small>
        </div>
      </ng-template>
    </div>

    <div class="d-flex flex-column">
      @if (toast.template) {
        <ng-template [ngTemplateOutlet]="toast.template"></ng-template>
      } @else {
        <span>{{ toast.message }}</span>
      }
      @if (toast.button) {
        <div class="my-2 d-flex">
          <button
            mat-flat-button
            class="w-100"
            (click)="executeAction(toast)"
            [color]="toast.button.color"
          >
            <span class="ml-2 mr-1">{{ toast.button.text }}</span>
          </button>
        </div>
      }
    </div>
  </ngb-toast>
}
