<div class="grid max-w-screen w-full mb-10">
   <div class="flex mb-4 gap-4 justify-between w-full">
      <p class="text-4xl ms-10 mt-5 mb-5 font-semibold">Blogs</p>
   </div>

   <!-- Cards Container -->
   <div class="flex flex-wrap w-full px-10 gap-6">
      <!-- Card 1 -->
      <fuse-card class="filter-article flex w-full max-w-80 flex-col bg-white shadow-md rounded-lg overflow-hidden hover:shadow-lg transition-shadow duration-300">
         <img
            class="object-cover w-full h-48"
            src="images/blogs/Blogs1.jpg"
            alt="Card cover image"
         />
         <div class="p-6">
            <div class="text-xl font-semibold leading-tight mb-1">
               How to Influence Our Children
            </div>
            <div class="text-secondary mt-1 text-sm text-gray-500">
               1 January 2024 by Osama El‑Bosili
            </div>
            <div class="mt-4 text-gray-700 text-sm">
               Influencing children's lives by sharing childhood memories
            </div>
            <div class="mt-5">
               <a
                  mat-button
                  [color]="'primary'"
                  (click)="SetBlogId(1)"
                  [routerLink]="'/blogs/details/1'"
                  class="text-primary hover:underline font-medium"
               >
               Read More
               </a>
            </div>
         </div>
      </fuse-card>
   </div>
</div>
