<div class="relative flex min-w-0 flex-auto flex-col">
   <!-- Header & Cards -->
   <div  class="relative overflow-hidden px-6 pb-12 pt-8 sm:px-16 sm:pb-24 sm:pt-20" >
      <svg class="-z-1 absolute inset-0"
         viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
         <g class="opacity-40 text-gray-200 dark:text-gray-800" fill="none" stroke="currentColor" stroke-width="100">
            <circle r="234" cx="196" cy="23"></circle>
            <circle r="234" cx="790" cy="491"></circle>
         </g>
      </svg>
      <!-- Header -->
      <div class="flex flex-col items-center">
         <h2 class="text-xl font-semibold">PRICING</h2>
         <div
            class="mt-1 text-center text-4xl font-extrabold leading-tight tracking-tight sm:text-7xl"
            >
            Pricing & Plans
         </div>
         <div
            class="text-secondary mt-3 text-center tracking-tight sm:text-2xl max-w-7xl"
            >
            <div class="">At Crescent School, we believe that every seeker of knowledge should have affordable access to learning the Quran and Islamic studies. 
               That's why we offer flexible pricing plans designed to fit any budget and schedule
            </div>
         </div>
         <!-- Recurring selector -->
         <div
            class="mt-8 flex items-center overflow-hidden rounded-full bg-gray-200 p-0.5 dark:bg-gray-700 sm:mt-16"
            >
            <button
            class="px-6"
            [ngClass]="{
            'bg-card pointer-events-none shadow': oneToOne,
            'bg-transparent': !oneToOne,
            }"
            mat-flat-button
            (click)="oneToOne = true"
            disableRipple
            >
            One To One
            </button>
            <button
            class="px-6"
            [ngClass]="{
            'bg-card pointer-events-none shadow': !oneToOne,
            'bg-transparent': oneToOne,
            }"
            mat-flat-button
            (click)="onToggle(false)"
            disableRipple
            >
            Group
            </button>
         </div>
      </div>
      <!-- Cards -->
      <div class="mt-10 flex justify-center sm:mt-20">
         <div class="w-full flex justify-center max-w-sm md:max-w-4xl">
            <!-- <div
               class="grid grid-cols-1 gap-y-6 md:grid-cols-2 md:gap-x-6 lg:grid-cols-3 lg:gap-x-0 lg:gap-y-0"
               > -->
            <div class="flex flex-col lg:w-2/3 md:w-2/3 items-center justify-center lg:gap-x-0 lg:gap-y-0"  >
               <fuse-card class="w-full max-w-sm flex flex-col items-center p-8 text-center sm:px-10 sm:py-12 md:max-w-none lg:pb-28 lg:shadow-2xl">
                  <div
                     class="text-4xl font-extrabold leading-tight tracking-tight"
                     >
                     {{oneToOne ? 'One To One' : 'Group'}}
                  </div>
                  <!-- Price -->
                  <div class="mt-8 flex items-baseline whitespace-nowrap">
                     <div
                        class="text-6xl font-semibold leading-tight tracking-tight"
                        >
                        @if (oneToOne) {
                        ${{pricePerMonthOneToOne}}
                        }
                        @else {
                        ${{pricePerMonthGroup}}
                        }
                     </div>
                     <div class="text-secondary ml-2 text-2xl">
                        / Month
                     </div>
                  </div>
                  <!-- Price details -->
                  <div class="mt-8 text-center text-xl font-extrabold leading-tight tracking-tight">
                     Choose number of sessions per week
                  </div>
                  <div class="text-secondary mt-3 text-center tracking-tight text-l">
                     @if (oneToOne) {                     
                     <div class="">(Session are 30 minutes)</div>
                     }
                     @else {                     
                     <div class="">(Session are 1 Hour - Maximum number of students is 4)</div>
                     }
                  </div>
                  <!-- Features -->
                  <div class="mt-8 space-y-2">
                     @if(oneToOne) {
                     <mat-button-toggle-group value="3" class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3" (valueChange)="selectedOneToOneSessionsChanged($event)" name="favoriteColor" aria-label="Favorite Color">
                        <mat-button-toggle value="1" class="bg-gray-50 text-sm">1 Session</mat-button-toggle>
                        <mat-button-toggle value="2" class="bg-gray-50 text-sm">2 Sessions</mat-button-toggle>
                        <mat-button-toggle value="3" class="bg-gray-50 text-sm">3 Sessions</mat-button-toggle>
                        <mat-button-toggle value="4" class="bg-gray-50 text-sm">4 Sessions</mat-button-toggle>
                        <mat-button-toggle value="5" class="bg-gray-50 text-sm">5 Sessions</mat-button-toggle>
                        <mat-button-toggle value="6" class="bg-gray-50 text-sm">6 Sessions</mat-button-toggle>
                     </mat-button-toggle-group>
                     }
                     @else {
                     <mat-button-toggle-group value="1" (valueChange)="selectedGroupSessionsChanged($event)" class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3" name="favoriteColor" aria-label="Favorite Color">
                        <mat-button-toggle value="1" class="bg-gray-50 text-sm">1 Session</mat-button-toggle>
                        <mat-button-toggle value="2" class="bg-gray-50 text-sm">2 Sessions</mat-button-toggle>
                        <mat-button-toggle value="3" class="bg-gray-50 text-sm">3 Sessions</mat-button-toggle>
                        <mat-button-toggle value="4" class="bg-gray-50 text-sm">4 Sessions</mat-button-toggle>
                        <mat-button-toggle value="5" class="bg-gray-50 text-sm">5 Sessions</mat-button-toggle>
                     </mat-button-toggle-group>
                     }
                     @if(pricePerHour != null){
                     <div class="mt-8 flex justify-center items-baseline whitespace-nowrap">
                        <div class="text-l font-semibold leading-tight tracking-tight">
                           ${{pricePerHour}}
                        </div>
                        <div class="text-secondary ml-2 text-l">
                           / Hour
                        </div>
                     </div>
                     }
                  </div>
                  <button
                     class="fuse-mat-button-large mt-10 w-1/4"
                        mat-flat-button
                        [routerLink]="['/free-session']"
                        [color]="'primary'">
                        Book Now
                  </button>
               </fuse-card>
            </div>
         </div>
      </div>
   </div>
</div>