<div class="flex h-full w-full flex-col items-center justify-center" style="background-image: url('images/pages/islamic-bg.jpg'); background-size: cover; background-position: center;" >
    <div class="w-full max-w-3xl">
        <div class="prose prose-sm mx-auto max-w-none">
            <!-- <img class="w-50" src="images/logo/crescent School-01.svg" alt="Logo image" /> -->
            <h1 class="animate-fadeSlideDown text-center text-3xl font-bold mt-5 mb-4">
                WELCOME TO CRESCENT
            </h1>            
            <p class ="text-2xl font-semibold leading-tight">
                Assalamu Alaikum and welcome to Crescent School, where knowledge meets faith, 
                and every step is guided by the light of the Quran, Sunnah, 
                and the principles of Islamic breeding, nurturing both the heart and mind.
            </p>
            <h5>
                Raise your child in a faith-filled environment with qualified tutors and a flexible learning schedule.
            </h5>
        </div>
        <div class="mt-5 mb-5">
            <div class="relative w-full pb-[50.25%] h-0 overflow-hidden">
                <iframe 
                  class="absolute top-0 left-0 w-full h-full" 
                  src="https://www.youtube.com/embed/r4Nw1dA4NmY" 
                  title="YouTube video player"
                  frameborder="0" 
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                  allowfullscreen>
                </iframe>
              </div>
        </div>
    </div>
    <div>
        <app-about></app-about>
    </div>
<div>
    <app-review></app-review>
</div>
</div>