<div class="text-xl md:text-4xl font-semibold mb-3 leading-tight mt-5 text-center md:text-center">
   Your Instructor
</div>
<swiper-container
  class="w-full max-w-7xl mx-auto px-4"
  init="false"
  #insSwiper
>
  <!-- Slide 1 -->
  <swiper-slide class="w-full flex-shrink-0">
    <fuse-card class="flex flex-col md:flex-row p-4 md:p-6 gap-4 items-center">
      <div class="w-80 flex-0 md:w-64">
        <img
          class="w-full h-full object-cover"
          src="images/Instructors/AyaInst.jpeg"
          alt="Hagar Ayman"
        />
      </div>
      <div class="flex flex-col text-center md:text-left">
        <div class="text-2xl md:text-3xl font-semibold">Aya fouad</div>
        <div class="text-lg">Instructor</div>
        <div class="mt-3 text-base md:text-xl">
          Aya fouad is a passionate teacher with 4+ years of experience. She is completing her Qur’an Ijazah and is qualified to teach the Qur’an Reading Course (Al-Qira’ah).
          A graduate of Al-Azhar University (Sociology), she holds certifications in education and behavior management. 
          Fluent in English, Aya uses engaging and interactive methods to teach Qur’an, Tajweed, and Islamic Studies to both children and adults.
        </div>
      </div>
    </fuse-card>
  </swiper-slide>

  
  <!-- Slide 2 -->
  <swiper-slide class="w-full flex-shrink-0">
    <fuse-card class="flex flex-col md:flex-row p-4 md:p-6 gap-4 items-center">
      <div class="w-80 flex-0 md:w-64">
        <img
          class="w-full h-full object-cover"
          src="images/Instructors/OsamaInst.jpeg"
          alt="Osama"
        />
      </div>
      <div class="flex flex-col text-center md:text-left">
        <div class="text-2xl md:text-3xl font-semibold">Osama El‑Bosili</div>
        <div class="text-lg">Instructor</div>
        <div class="mt-3 text-base md:text-xl">
         Osama El‑Bosili is the founder of the school as well as an Arabic instructor for non‑native speakers. 
         He holds an Ijazah (license) in Tajwīd granted by Shaykh Hasan Abū Shādī, head of the Al‑Masʿarawī sanad (chains of transmission) department. Osama earned a Bachelor’s degree in Arabic Language & Literature from the Islamic University of Minnesota, and he also holds an Ijazah in the Qur’an.
        </div>
      </div>
    </fuse-card>
  </swiper-slide>

  <!-- Slide 3 -->
  <swiper-slide class="w-full flex-shrink-0">
    <fuse-card class="flex flex-col md:flex-row p-4 md:p-6 gap-4 items-center">
      <div class="w-80 flex-0 md:w-64">
        <img
          class="w-full h-full object-cover"
          src="images/Instructors/HagarInst.jpeg"
          alt="Hagar Ayman"
        />
      </div>
      <div class="flex flex-col text-center md:text-left">
        <div class="text-2xl md:text-3xl font-semibold">Hagar Ayman</div>
        <div class="text-lg">Instructor</div>
        <div class="mt-3 text-base md:text-xl">
          Hagar Ayman is a dedicated and forward-thinking teacher with 2+ year of professional experience in Qur’an and Islamic Studies. 
          She is a fifth-year student in Physical Therapy and a committed seeker of Islamic knowledge. Having memorized half of the Holy Qur’an, she is currently working toward completing it and earning an official Ijazah.
          She has completed teacher training in Qur’an reading (Al-Qira’ah method) through Rwaq platform (with Ustatha Amira Al-Omairi) and Al-Ulamaa Institute, in addition to courses in phonics and teaching strategies, enabling her to deliver structured, clear, and engaging lessons.
        </div>
      </div>
    </fuse-card>
  </swiper-slide>
  
  <!-- Slide 4 -->
  <swiper-slide class="w-full flex-shrink-0">
    <fuse-card class="flex flex-col md:flex-row p-4 md:p-6 gap-4 items-center">
      <div class="w-80 flex-0 md:w-64">
        <img
          class="w-full h-full object-cover"
          src="images/Instructors/EbrahimInst (Custom).jpeg"
          alt="Hagar Ayman"
        />
      </div>
      <div class="flex flex-col text-center md:text-left">
        <div class="text-2xl md:text-3xl font-semibold">Hagar Ayman</div>
        <div class="text-lg">Instructor</div>
        <div class="mt-3 text-base md:text-xl">
          Hagar Ayman is a dedicated and forward-thinking teacher with 2+ year of professional experience in Qur’an and Islamic Studies. 
          She is a fifth-year student in Physical Therapy and a committed seeker of Islamic knowledge. Having memorized half of the Holy Qur’an, she is currently working toward completing it and earning an official Ijazah.
          She has completed teacher training in Qur’an reading (Al-Qira’ah method) through Rwaq platform (with Ustatha Amira Al-Omairi) and Al-Ulamaa Institute, in addition to courses in phonics and teaching strategies, enabling her to deliver structured, clear, and engaging lessons.
        </div>
      </div>
    </fuse-card>
  </swiper-slide>


</swiper-container>
