@if(this.blogId == 1){
<div class="flex flex-col w-screen ">
    <!-- First row: Image -->
    <div class="flex flex-row w-screen max-h-2/5 ">
        <img
            src="images/blogs/Blogs1.jpg"
            alt="Card cover image"
            class="w-full h-full object-cover"

        />
    </div>

    <!-- Second row: Text content -->
    <div class="flex flex-row ms-10 mt-4">
        <div>
            <div class="text-2xl font-semibold leading-tight">
                Influencing children's lives by sharing childhood memories
            </div>
            <div class="text-secondary mt-1 text-md">
                Parenting | 1 January 2024 | Osama El‑Bosili
            </div>
        </div>
    </div>
    <!-- Third row: Content -->
    <div class="flex flex-row ms-10 mt-4 mb-4">
        <div class="text-md">
            <p>
                🎉Starting the new year with a significant post, continuing the discussion about making the right choice in selecting a teacher (educator). Today, I'll talk about the second part related to influencing children's lives, sharing childhood memories.
                1. The First Situation:Every morning since I became aware of the world, my father tries to wake me up at dawn. As a stubborn child, I could have resisted, but my father is determined that I get up, not just for a day or two but as a consistent habit.
                2. The Second Situation:In the summer of 2006, arriving in Alexandria, exhausted, everyone in the family went to sleep except my father. He took me to explore the mosque in the area first and then buy some food.
                3. The Third Situation:Walking after Fajr prayer one winter night, worried about cheating in exams, my father replied, "Say, 'Is it equal - those who know and those who do not know?'"
                4. The Fourth Situation: While working the night shift, my father, despite having a break for Fajr prayer, ensured I woke up for Fajr, even calling during his break if I was away.
                5. The Fifth Situation:Traveling abroad for the first time without my father, he adjusted to the time difference, calling me for Fajr.
                6. The Sixth Situation:After completing Umrah, tired, with only an hour left for Fajr, we chose to wait in the mosque to not miss praying in the Haram Mosque during our short stay.
                These memories are deeply engraved in my mind, illustrating the educational experiences that have influenced me. My father instilled in me the habit of Fajr prayer in the mosque, and though he may not have directly spoken about prayer's significance, his actions spoke louder.
                ✨Many parents ask me to talk to their children about prayer, yet they may not realize that the primary responsibility lies with them. Our children mirror our values, and what truly impacts them is what we instill in them while they are young.
                🎗️I know some parents may say they try with their children, but it doesn't always work. The question is, how long will we keep trying? I choose to write this post at Fajr time, and my father just checked to ensure I'm awake. From his perspective, you keep trying until you meet your Creator, and the outcome is not in your hands; God will ask about your efforts, not the result.
                I've chosen Fajr prayer as an example because it's one of the most challenging habits for parents to instill, but it only requires a parent with a strong commitment to education. More importantly, be a role model for your children in prayer.            </p>
                        
        </div>
</div>
</div>
}
