<div class="grid max-w-screen w-full mb-10">
  <div class="flex gap-4 justify-between w-full">
    <p class="text-4xl ms-10 mt-5 mb-5 font-semibold">My Students</p>
  </div>

  <div
    class="grid w-full min-w-0 p-6 grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-6"
  >
    @for (student of students$ | async; track student) {
      <a [routerLink]="['/student-report', student.id]" class="block h-full">
        <div
          class="bg-card flex h-full flex-auto flex-col items-center overflow-hidden rounded-2xl shadow cursor-pointer hover:shadow-lg transition"
        >
          <div class="flex w-full flex-auto flex-col p-4 text-center">
            <div class="mt-2 font-medium text-bold text-lg">
              {{ student.fullName }}
            </div>
            <div class="text-decoration-solid">
              <span class="font-medium">Country/State:</span>
              {{ student.country }}
            </div>
            <div class="text-decoration-solid">
              <span class="font-medium">Age:</span> {{ student.age }}
            </div>
            <div class="text-decoration-solid">
              <span class="font-medium">Email:</span>
              {{ student.email }}
            </div>
            <div class="text-decoration-solid">
              <span class="font-medium">Phone:</span> {{ student.phoneNumber }}
            </div>
          </div>
        </div>
      </a>
    }
  </div>
</div>
