<div class="grid flex justify-center max-w-screen w-full">
   <div class="flex mb-4 gap-4 justify-between ">
      <div >
         <p class="text-4xl ms-10 mt-5 mb-5 font-semibold">Featured Courses
         <p>
      </div>
      <div class="mt-5 mb-5 sm:mt-7 hidden md:block">
         <a mat-flat-button [color]="'primary'" [routerLink]="['/free-session']" >
         <mat-icon
            [svgIcon]="'heroicons_outline:bookmark'"
            ></mat-icon>
         <span class="ml-2 mr-1 text-wrap">Book Free Session</span>
         </a>
      </div>
   </div>
   <div class="flex ">
      <div class="grid grid-cols-1 mb-10 sm:grid-cols-2 justify-center md:grid-cols-3 gap-6">
         <fuse-card
         class="filter-article filter-interactive flex w-full max-w-80 ml-10 "
         [flippable]="true"
         [face]="'front'"
         #flippableCard01="fuseCard">
         <ng-container fuseCardFront>
            <img
               class="object-cover"
               src="images/cards/QuraanRecitation.jpeg"
               alt="Card cover image"
               />
            <div class="m-8 mb-4">
               <div class="text-2xl font-semibold leading-tight">
                  Basic Quran Recitation
               </div>
               <div class="mt-4">
                  Introduces the basics of Quranic reading, emphasizing pronunciation and reading skills.
               </div>
               <div class="-mx-3 mt-3">
                  <button
                  class="px-3"
                  mat-button
                  [color]="'primary'"
                  (click)="
                  flippableCard01.face =
                  flippableCard01.face === 'front'
                  ? 'back'
                  : 'front'
                  "
                  >
                  Read More
                  </button>
               </div>
            </div>
         </ng-container>
         <ng-container fuseCardBack>
            <div class="m-4 flex flex-auto flex-col">
               <button
                  class="ml-1.5"
                  mat-icon-button
                  (click)="
                  flippableCard01.face =
                  flippableCard01.face === 'front'
                  ? 'back'
                  : 'front'
                  "
                  >
                  <mat-icon
                     [svgIcon]="'heroicons_outline:arrow-long-left'"
                     ></mat-icon>
               </button>
               <div class="m-4 mt-3">
                  <div class="text-2xl font-semibold leading-tight">
                     Basic Quran Recitation
                  </div>
                  <div class="mt-4">
                     Embark on a transformative journey with the Noorani Qaidah Course at Crescent Islamic Academy, where the foundations of Quranic reading are laid with care and precision. 
                     This essential course is designed to introduce children to the fundamentals of pronunciation and reading skills. 
                     Through engaging lessons that cover the Arabic alphabet and essential Tajweed rules, students will gain confidence in their ability to read Arabic fluently
                  </div>
                  <div class="mt-4">
                     What is the Noorani Qaida course? Noorani Qaida course is the initial course for Quran reading. 
                     This course is required for kids before starting the Quran.
                     The interactive approach ensures that learning is not only effective but also enjoyable, 
                     making it a perfect starting point for young learners eager to connect with the Quran.
                  </div>
               </div>
            </div>
         </ng-container>
         </fuse-card>
         <fuse-card
         class="filter-article filter-interactive flex w-full max-w-80 ml-10 "
         [flippable]="true"
         [face]="'front'"
         #flippableCard02="fuseCard">
         <ng-container fuseCardFront>
            <img
               class="object-cover h-[25rem]"
               src="images/cards/Tajweed.jpeg"
               alt="Card cover image"
               />
            <div class="m-8 mb-4">
               <div class="text-2xl font-semibold leading-tight">
                  Tajweed Course
               </div>
               <div class="mt-4">
                  Teaches the rules for accurate and melodious Quranic recitation.
               </div>
               <div class="-mx-3 mt-3">
                  <button
                  class="px-3"
                  mat-button
                  [color]="'primary'"
                  (click)="
                  flippableCard02.face =
                  flippableCard02.face === 'front'
                  ? 'back'
                  : 'front'
                  "
                  >
                  Read More
                  </button>
               </div>
            </div>
         </ng-container>
         <ng-container fuseCardBack>
            <div class="m-4 flex flex-auto flex-col">
               <button
                  class="ml-1.5"
                  mat-icon-button
                  (click)="
                  flippableCard02.face =
                  flippableCard02.face === 'front'
                  ? 'back'
                  : 'front'
                  "
                  >
                  <mat-icon
                     [svgIcon]="'heroicons_outline:arrow-long-left'"
                     ></mat-icon>
               </button>
               <div class="m-4 mt-3">
                  <div class="text-2xl font-semibold leading-tight">
                     Basic Quran Recitation
                  </div>
                  <div class="mt-4">
                     At Crescent Academy, you’ll find the best online Tajweed Course for your kids. 
                     Unlock the beauty of Quranic recitation with our Tajweed Course, where students master the art of reciting the Quran with accuracy and melodiousness. 
                  </div>
                  <div class="mt-4">
                     This course delves into the intricate rules of Tajweed, teaching learners how to apply correct pronunciation, intonation, 
                     and rhythm to every word of divine revelation. With a focus on practical application, students will develop the skills necessary to recite the Quran beautifully,
                     enhancing their spiritual experience and connection to the text
                  </div>
               </div>
            </div>
         </ng-container>
         </fuse-card>
         <fuse-card
         class="filter-article filter-interactive flex w-full max-w-80 ml-10 "
         [flippable]="true"
         [face]="'front'"
         #flippableCard03="fuseCard">
         <ng-container fuseCardFront>
            <img
               class="object-cover h-70"
               src="images/cards/ArabicLanguage.jpeg"
               alt="Card cover image"
               />
            <div class="m-8 mb-4">
               <div class="text-2xl font-semibold leading-tight">
                  Arabic Language Course
               </div>
               <div class="mt-4">
                  Strengthens Arabic skills for better comprehension and engagement with the Quran.
               </div>
               <div class="-mx-3 mt-3">
                  <button
                  class="px-3"
                  mat-button
                  [color]="'primary'"
                  (click)="
                  flippableCard03.face =
                  flippableCard03.face === 'front'
                  ? 'back'
                  : 'front'
                  "
                  >
                  Read More
                  </button>
               </div>
            </div>
         </ng-container>
         <ng-container fuseCardBack>
            <div class="m-4 flex flex-auto flex-col">
               <button
                  class="ml-1.5"
                  mat-icon-button
                  (click)="
                  flippableCard03.face =
                  flippableCard03.face === 'front'
                  ? 'back'
                  : 'front'
                  "
                  >
                  <mat-icon
                     [svgIcon]="'heroicons_outline:arrow-long-left'"
                     ></mat-icon>
               </button>
               <div class="m-4 mt-3">
                  <div class="text-2xl font-semibold leading-tight">
                     Arabic Language Course
                  </div>
                  <div class="mt-4">
                     Enhance your child's linguistic abilities with our Arabic Language Course, specifically designed to develop their skills in reading and comprehending the Quran. 
                     This course provides a comprehensive foundation in Arabic, enabling students to engage with the Quranic text more easily. 
                     Through interactive lessons and engaging activities, children will not only learn the language but also appreciate its beauty and significance in Islamic teachings
                  </div>
               </div>
            </div>
         </ng-container>
         </fuse-card>
         <fuse-card
         class="filter-article filter-interactive flex w-full max-w-80 ml-10 "
         [flippable]="true"
         [face]="'front'"
         #flippableCard04="fuseCard">
         <ng-container fuseCardFront>
            <img
               class="object-cover h-[25rem]"
               src="images/cards/Islamic-Studies-Course.png"
               alt="Card cover image"
               />
            <div class="m-8 mb-4">
               <div class="text-2xl font-semibold leading-tight">
                  Islamic Studies Course
               </div>
               <div class="mt-4">
                  Explores core Islamic principles and practices to build a strong foundation in faith.
               </div>
               <div class="-mx-3 mt-3">
                  <button
                  class="px-3"
                  mat-button
                  [color]="'primary'"
                  (click)="
                  flippableCard04.face =
                  flippableCard04.face === 'front'
                  ? 'back'
                  : 'front'
                  "
                  >
                  Read More
                  </button>
               </div>
            </div>
         </ng-container>
         <ng-container fuseCardBack>
            <div class="m-4 flex flex-auto flex-col">
               <button
                  class="ml-1.5"
                  mat-icon-button
                  (click)="
                  flippableCard04.face =
                  flippableCard04.face === 'front'
                  ? 'back'
                  : 'front'
                  "
                  >
                  <mat-icon
                     [svgIcon]="'heroicons_outline:arrow-long-left'"
                     ></mat-icon>
               </button>
               <div class="m-4 mt-3">
                  <div class="text-2xl font-semibold leading-tight">
                     Islamic Studies Course
                  </div>
                  <div class="mt-4">
                     Dive deep into the heart of Islam with our Islamic Studies Course, which explores the core principles and practices of the faith. This course fosters a strong foundation in understanding Islamic beliefs, values, and traditions. 
                     Students will engage with essential topics that shape their faith and identity, encouraging them to reflect on their beliefs and develop a meaningful connection to their spirituality.
                  </div>
               </div>
            </div>
         </ng-container>
         </fuse-card>
         <fuse-card
         class="filter-article filter-interactive flex w-full max-w-80 ml-10 "
         [flippable]="true"
         [face]="'front'"
         #flippableCard05="fuseCard">
         <ng-container fuseCardFront>
            <img
               class="object-cover h-[25rem]"
               src="images/cards/QuranicArabic.jpg"
               alt="Card cover image"
               />
            <div class="m-8 mb-4">
               <div class="text-2xl font-semibold leading-tight">
                  Quranic Arabic
               </div>
               <div class="mt-4">
                  Equips students with vocabulary and grammar to understand the Quran directly.
               </div>
               <div class="-mx-3 mt-3">
                  <button
                  class="px-3"
                  mat-button
                  [color]="'primary'"
                  (click)="
                  flippableCard05.face =
                  flippableCard05.face === 'front'
                  ? 'back'
                  : 'front'
                  "
                  >
                  Read More
                  </button>
               </div>
            </div>
         </ng-container>
         <ng-container fuseCardBack>
            <div class="m-4 flex flex-auto flex-col">
               <button
                  class="ml-1.5"
                  mat-icon-button
                  (click)="
                  flippableCard05.face =
                  flippableCard05.face === 'front'
                  ? 'back'
                  : 'front'
                  "
                  >
                  <mat-icon
                     [svgIcon]="'heroicons_outline:arrow-long-left'"
                     ></mat-icon>
               </button>
               <div class="m-4 mt-3">
                  <div class="text-2xl font-semibold leading-tight">
                     Quranic Arabic
                  </div>
                  <div class="mt-4">
                     Equip your child with the tools to engage directly with the Quran through our Quranic Arabic Course. This specialized program focuses on the vocabulary and grammar unique to Quranic Arabic, allowing students to read and understand the text with clarity.
                     By mastering these linguistic elements, learners will gain a deeper appreciation of the Quran's message and its relevance to their lives.
                  </div>
               </div>
            </div>
         </ng-container>
         </fuse-card>
      </div>
   </div>
   <div>