<div class="grid w-full mb-10">
  <div class="flex justify-between w-full">
    <p class="text-4xl ms-10 mt-5 font-semibold">My Students</p>
  </div>

  <div class="grid grid-cols-1 gap-4 m-10">
    <div
      class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl shadow"
    >
      <div class="mx-6 overflow-x-auto">
        <table
          mat-table
          matSort
          [dataSource]="dataSource"
          [trackBy]="trackByFn"
          class="w-full bg-transparent"
        >
          <!-- Name -->
          <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Student Name
            </th>
            <td mat-cell *matCellDef="let student">
              {{ student.fullName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="ReportStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Report Status
            </th>
            <td mat-cell *matCellDef="let student">
              <div class="flex items-center gap-2">
                <mat-icon
                  *ngIf="setReportStatus(student) === 'Done'"
                  color="primary"
                >
                  check_circle
                </mat-icon>

                <button
                  *ngIf="setReportStatus(student) === 'Add'"
                  type="button"
                  mat-icon-button
                  [disabled]="!student.isActive"
                  (click)="addReport(student.id); $event.stopPropagation()"
                  [matTooltip]="
                    student.isActive
                      ? 'Add monthly report'
                      : 'Student is inactive'
                  "
                >
                  <mat-icon
                    color="accent"
                    class="transition"
                    [class.cursor-pointer]="student.isActive"
                    [class.hover:scale-110]="student.isActive"
                    [class.icon-disabled]="!student.isActive"
                  >
                    add_circle
                  </mat-icon>
                </button>
                <span class="font-medium">
                  {{ setReportStatus(student) }}
                </span>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef class="text-center">
              Actions
            </th>

            <td
              mat-cell
              (click)="trigger.openMenu()"
              *matCellDef="let student"
              class="text-right"
            >
              <button
                mat-icon-button
                [matMenuTriggerFor]="menu"
                aria-label="Actions menu"
                (click)="$event.stopPropagation()"
              >
                <mat-icon>more_vert</mat-icon>
              </button>

              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="editReport(student)">
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            (click)="onRowClick(row)"
            *matRowDef="let row; columns: displayedColumns"
            class="h-16"
          ></tr>
        </table>
        <!-- Empty State -->
        <div
          *ngIf="dataSource.data.length === 0"
          class="text-secondary p-6 text-sm text-black"
        >
          No students available yet.
        </div>
      </div>
    </div>
  </div>
</div>
