<div class="rounded-3 m-3 p-5 w-full">
  <div class="w-full">
    <form
      class="flex flex-auto flex-col overflow-y-auto p-6 sm:p-8"
      [formGroup]="createStudentForm"
      (ngSubmit)="submit()"
    >
      <h5 class="text-4xl mb-5 font-semibold">Add New Student</h5>

      <div class="flex flex-col gap-4">
        <div class="flex flex-col gap-4 sm:flex-row">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" />
          </mat-form-field>
        </div>

        <!-- Row 2 -->
        <div class="flex flex-col gap-4 sm:flex-row">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Country</mat-label>
            <input matInput formControlName="country" />
          </mat-form-field>
        </div>
        <div class="flex flex-col gap-4 sm:flex-row">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Fees</mat-label>
            <input matInput formControlName="fees" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phoneNumber" />
          </mat-form-field>
        </div>
        <div class="flex flex-col gap-4 sm:flex-row">
          <mat-form-field appearance="outline" class="max-w-1/2 w-full">
            <mat-label>Instructor</mat-label>
            <mat-select formControlName="instructorId">
              @for (instructor of _instructors$ | async; track instructor.id) {
                <mat-option [value]="instructor.id">
                  {{ instructor.firstName }} {{ instructor.lastName }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Zoom Link</mat-label>
            <input matInput formControlName="zoomLink" />
          </mat-form-field>
        </div>

        <div class="flex flex-col gap-4 sm:flex-row">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" />
          </mat-form-field>
        </div>
        <mat-table #table class="mat-elevation-z0" [dataSource]="dataSource">
          <!-- Day Column -->
          <ng-container matColumnDef="day">
            <mat-header-cell *matHeaderCellDef>Day</mat-header-cell>

            <mat-cell *matCellDef="let row">
              <ng-container [formGroup]="row">
                <mat-form-field appearance="outline" class="mt-2 w-full">
                  <mat-label>Day</mat-label>
                  <mat-select formControlName="day">
                    <mat-option *ngFor="let d of weekDays" [value]="d">
                      {{ d }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-container>
            </mat-cell>
          </ng-container>

          <!-- Time Column -->
          <ng-container matColumnDef="time">
            <mat-header-cell *matHeaderCellDef>Time (24hr)</mat-header-cell>

            <mat-cell *matCellDef="let row">
              <ng-container [formGroup]="row">
                <mat-form-field appearance="outline" class="w-full">
                  <input
                    matInput
                    type="number"
                    max="24"
                    min="1"
                    formControlName="time"
                  />
                </mat-form-field>
              </ng-container>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions">
            <mat-header-cell
              mat-header-cell
              *matHeaderCellDef
              class="justify-content-center flex"
            >
              Actions
            </mat-header-cell>
            <mat-cell
              mat-cell
              *matCellDef="let element"
              class="justify-content-center flex p-0"
            >
              <div class="flex flex-row">
                <button
                  style="width: fit-content"
                  mat-mini-fab
                  (click)="remove(element)"
                  matTooltip="Remove"
                  class="ml-2 bg-red-500"
                  aria-label="Remove"
                  [disabled]="createStudentForm.disabled"
                >
                  <mat-icon
                    [svgIcon]="'heroicons_outline:trash'"
                    color="primary"
                    id="trash-btn"
                  ></mat-icon>
                </button>
              </div>
            </mat-cell>
            <mat-cell mat-footer-cell *matFooterCellDef class="p-0"></mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>

        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="createRow()">
            <mat-icon>add</mat-icon>
            Add New
          </button>
        </mat-card-actions>
      </div>

      <!-- Buttons Inside Form -->
      <div class="flex justify-end gap-4 mt-6">
        <button mat-flat-button color="primary" type="submit">Submit</button>

        <button mat-stroked-button type="button" (click)="cancel()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
