<div class="bg-card relative z-50 flex h-40 w-full bg-[#2CC57D] flex-0 items-start  border-t px-4 dark:bg-transparent sm:h-25 md:px-6 print:hidden">
    <div class="row w-full">
      <!-- First Column -->
      <div class="col-6">
        <h5>Contact Us</h5>
        <div >
          <ul class="flex justify-content-md-end justify-content-center">
            <li><a href="https://facebook.com" target="_blank"><mat-icon svgIcon="mat_solid:facebook"></mat-icon></a></li>
            <li><a href="https://youtube.com" target="_blank"><mat-icon svgIcon="feather:youtube"></mat-icon></a></li>
            <li><a href="https://instagram.com" target="_blank"><mat-icon svgIcon="feather:instagram"></mat-icon></a></li>
            <li><a href="https://whatsapp.com" target="_blank"><mat-icon svgIcon="whatsapp"></mat-icon></a></li>
          </ul>
        </div>
      </div>
  
      <div class="col-6">
        <h5>Contact Us</h5>
        <div>
          <ul class="flex justify-content-md-end justify-content-center">
            <li><a href="https://facebook.com" target="_blank"><mat-icon svgIcon="mat_solid:facebook"></mat-icon></a></li>
            <li><a href="https://youtube.com" target="_blank"><mat-icon svgIcon="feather:youtube"></mat-icon></a></li>
            <li><a href="https://instagram.com" target="_blank"><mat-icon svgIcon="feather:instagram"></mat-icon></a></li>
            <li><a href="https://whatsapp.com" target="_blank"><mat-icon svgIcon="whatsapp"></mat-icon></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  