
<div class="flex justify-center px-4" style="background-image: url('images/pages/islamic-bg.jpg'); background-size: cover; background-position: center;">
  <div class="pt-5 max-w-full justify-center md:px-5 md:pt-5">
      <div class="flex justify-center">
        <fuse-card
        class="filter-article flex justify-center w-full max-w-3/4 h-55  md:flex-row">
        <div class="w-80 flex-0 md:w-64">
            <img
                class="h-full w-full object-cover"
                src="images/pages/ayah.jpeg"
                alt="Card cover image"
            />
        </div>
        <div class="m-8 mb-2 flex flex-auto flex-col">
            <div class="text-3xl font-semibold leading-tight">
             <p class="text-2xl font-semibold leading-tight">Who Us?</p> 
            </div>
            <div class="mt-4">
              <p class="text-lg sm:text-base text-justify">
                We’re Crescent School. At Crescent School, we specialize in offering high-quality Quranic and Islamic education for non-Arabic-speaking.
                Our unique approach goes beyond just teaching the principles of Islam; we focus on Islamic breeding —
                the comprehensive development of character and values based on the Quran and Sunnah.
                In our academy, we guide your children to not only understand the teachings of Islam but to live them,
                nurturing their faith, manners, and moral character in a supportive and inclusive environment.
                Let us help you raise the next generation of Muslim role models, grounded in the core values of Islam.
              </p>
            </div>
        </div>
        </fuse-card>
      </div>
      
      <div class="flex flex-wrap justify-center gap-6 mt-5">
        <fuse-card class="filter-testimonial relative flex max-w-sm flex-col mb-2 p-8 animate-fade-in-up delay-100" >
          <div> 
            
          </div>
          <span
          class="absolute left-0 top-0 ml-8 mt-8 font-serif text-9xl leading-none text-primary">“</span>
          <div class="mt-4 text-lg italic leading-relaxed">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              Our mission at Crescent Islamic Academy is to provide high-quality, accessible Islamic education that empowers non-Arabic-speaking adults 
                      and children to deepen their understanding of Islam, the Quran, and the Arabic language.
                      We are dedicated to fostering a nurturing environment where knowledge and breeding (Islamic upbringing) go hand in hand, 
                      cultivating not only strong academic foundations but also a genuine love for Islam, ethical character, and spiritual growth.
          </div>

        </fuse-card>
      
        <fuse-card class="filter-article flex max-w-sm mb-2 flex-col p-8 animate-fade-in-up delay-100" >
            <div>
                <div class="text-2xl font-semibold leading-tight mb-4">Our Vision:</div>
                <div class="text-lg italic leading-relaxed">
                    To become a leading educational institution that shapes the future of Muslim communities by raising generations of well-rounded, morally responsible, 
                    and confident individuals who are deeply connected to their faith. 
                    We aspire to be the go-to place for holistic Islamic education, where every student develops a profound understanding of Islam and carries its values with pride and compassion, making a positive impact in their families, communities, and the world.
                </div>
            </div>
        </fuse-card>
      
        <fuse-card class="filter-article flex max-w-sm mb-2 flex-col p-8 animate-fade-in-up delay-100">
            <div>
                <div class="text-2xl font-semibold leading-tight mb-4">Our Tutors:</div>
                <div class="text-lg italic leading-relaxed">
                  All of our tutors are Native Arabic speakers, most of them graduated from Al-Azhar University, and they are all experts at teaching Arabic and Quran curriculum for all levels and ages.
                    Our tutors are Educators, more than just teachers. They aim to positively influence the kids’ character and instill good moral values and behaviors, parenting them to become responsible Muslims in society.
                </div>
            </div>
        </fuse-card>
      </div>
      
    </div>
</div>
  