<div class="flex justify-center px-2 sm:px-4">
  <div class="pt-5 w-full max-w-7xl md:px-5 md:pt-5">
    <div class="flex flex-col md:flex-row md:justify-center gap-4">
      <!-- Who Us Card -->
      <fuse-card
        class="filter-article flex flex-col md:flex-row w-full md:max-w-3/4">
        <!-- <div class="w-full md:w-64 flex-shrink-0">
          <img
            class="h-48 md:h-full w-full object-cover"
            src="images/pages/ayah.jpeg"
            alt="Card cover image"
          />
        </div> -->
        <div class="m-4 md:m-8 mb-2 flex flex-col">
          <div class="text-2xl md:text-3xl font-semibold leading-tight">
            <p>About Us?</p>
          </div>
          <div class="mt-4">
            <p class="text-base md:text-lg text-justify">
              We’re Crescent School. At Crescent School, we specialize in offering high-quality Quranic and Islamic education for non-Arabic-speaking.
              Our unique approach goes beyond just teaching the principles of Islam; we focus on Islamic breeding —
              the comprehensive development of character and values based on the Quran and Sunnah.
              In our academy, we guide your children to not only understand the teachings of Islam but to live them,
              nurturing their faith, manners, and moral character in a supportive and inclusive environment.
              Let us help you raise the next generation of Muslim role models, grounded in the core values of Islam.
            </p>
          </div>
        </div>
      </fuse-card>

      <!-- Achievements Card -->
      <!-- <fuse-card class="filter-article flex flex-col w-full md:max-w-1/4 p-4 md:p-8">
        <div>
          <div class="text-xl md:text-2xl font-semibold leading-tight mb-4">Our Great Achievement:</div>
          <div class="mt-4 flex flex-col gap-y-4">
            <div class="flex items-center">
              <mat-icon
                class="text-primary icon-size-5"
                [svgIcon]="'heroicons_solid:check-circle'">
              </mat-icon>
              <div class="ml-2">Enrolled Students +800</div>
            </div>
            <div class="flex items-center">
              <mat-icon class="text-primary icon-size-5" [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>
              <div class="ml-2">Experienced Tutor +30</div>
            </div>
            <div class="flex items-center">
              <mat-icon class="text-primary icon-size-5" [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>
              <div class="ml-2">Years of Experience +6</div>
            </div>
            <div class="flex items-center">
              <mat-icon class="text-primary icon-size-5" [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>
              <div class="ml-2">Studying Hours +50,000</div>
            </div>
          </div>
        </div>
      </fuse-card> -->
    </div>

    <!-- Lower Cards -->
    <div class="flex flex-col md:flex-row flex-wrap justify-center mt-5 gap-4">
      <!-- Mission Card -->
      <fuse-card class="filter-testimonial w-full md:max-w-sm p-4 md:p-8 animate-fade-in-up delay-100">
        <span class="absolute left-0 top-0 ml-4 mt-4 mb-4 md:ml-8 md:mt-8 font-serif text-6xl md:text-9xl leading-none text-primary">“</span>
        <div class="mt-4 text-base italic leading-relaxed pt-8">
          Our mission at Crescent Islamic Academy is to provide high-quality, accessible Islamic education that empowers non-Arabic-speaking adults 
          and children to deepen their understanding of Islam, the Quran, and the Arabic language.
          We are dedicated to fostering a nurturing environment where knowledge and breeding (Islamic upbringing) go hand in hand, 
          cultivating not only strong academic foundations but also a genuine love for Islam, ethical character, and spiritual growth.
        </div>
      </fuse-card>

      <!-- Vision Card -->
      <fuse-card class="filter-article flex flex-col w-full md:max-w-sm p-4 md:p-8 animate-fade-in-up delay-100">
        <div>
          <div class="text-lg md:text-xl font-semibold leading-tight mb-4">Our Vision:</div>
          <div class="text-base italic leading-relaxed">
            To become a leading educational institution that shapes the future of Muslim communities by raising generations of well-rounded, morally responsible, 
            and confident individuals who are deeply connected to their faith. We aspire to be the go-to place for holistic Islamic education, where every student develops a profound understanding of Islam and carries its values with pride and compassion, making a positive impact in their families, communities, and the world.
          </div>
        </div>
      </fuse-card>

      <!-- Tutors Card -->
      <fuse-card class="filter-article flex flex-col w-full md:max-w-sm p-4 md:p-8 animate-fade-in-up delay-100">
        <div>
          <div class="text-lg md:text-xl font-semibold leading-tight mb-4">Our Tutors:</div>
          <div class="text-base italic leading-relaxed">
            All of our tutors are Native Arabic speakers, most of them graduated from Al-Azhar University, and they are all experts at teaching Arabic and Quran curriculum for all levels and ages.
            Our tutors are educators, more than just teachers. They aim to positively influence the kids’ character and instill good moral values and behaviors, parenting them to become responsible Muslims in society.
          </div>
        </div>
      </fuse-card>
    </div>
  </div>
</div>
