<div class="grid grid-row-2 max-w-full w-full">
    <div class="prose prose-sm ms-4 ">
       <h2 class="mt-12">Book Your Free Session</h2>
    </div>
    <div class="mb-4 flex justify-center">
       <form
          class="bg-card mt-4 flex flex-col overflow-hidden rounded px-8 pt-10 shadow"
          >
          <p class="text-lg font-medium">Profile</p>
          <div class="gt-xs:flex-row flex flex-col">
             <mat-form-field class="gt-xs:pr-3 flex-auto">
                <input matInput [placeholder]="'First name'" />
                <mat-icon
                   class="icon-size-5"
                   matPrefix
                   [svgIcon]="'heroicons_solid:user-circle'"
                   ></mat-icon>
             </mat-form-field>
             <mat-form-field class="gt-xs:pl-3 flex-auto">
                <input matInput [placeholder]="'Last name'" />
                <mat-icon
                   class="icon-size-5"
                   matPrefix
                   [svgIcon]="'heroicons_solid:user-circle'"
                   ></mat-icon>
             </mat-form-field>
          </div>
          <div class="flex">
            
             <mat-form-field class="flex-auto">
                <input matInput [placeholder]="'Email Address'" />
                <mat-icon
                   class="icon-size-5"
                   matPrefix
                   [svgIcon]="'heroicons_solid:envelope'"
                   ></mat-icon>
             </mat-form-field>
          </div>
          <div class="gt-xs:flex-row flex flex-col">
             <mat-form-field class="gt-xs:pr-3 flex-auto">
                <mat-select [placeholder]="'Country / Region'">
                   <mat-option value="country-1">Country 1</mat-option>
                   <mat-option value="country-2">Country 2</mat-option>
                   <mat-option value="country-3">Country 3</mat-option>
                </mat-select>
                <mat-icon
                   class="icon-size-5"
                   matPrefix
                   [svgIcon]="'heroicons_solid:map-pin'"
                   ></mat-icon>
             </mat-form-field>
             <mat-form-field class="gt-xs:pl-3 flex-auto">
                <mat-select [placeholder]="'Language'">
                   <mat-option value="language-1"
                      >Language 1</mat-option
                      >
                   <mat-option value="language-2"
                      >Language 2</mat-option
                      >
                   <mat-option value="language-3"
                      >Language 3</mat-option
                      >
                </mat-select>
                <mat-icon
                   class="icon-size-5"
                   matPrefix
                   [svgIcon]="'heroicons_solid:language'"
                   ></mat-icon>
             </mat-form-field>
          </div>
          <mat-divider class="mb-10 mt-6"></mat-divider>

          <div class="flex">
             <mat-form-field class="flex-auto">
                <input matInput [placeholder]="'Username'" />
                <span matPrefix>www.example.com/</span>
             </mat-form-field>
          </div>
          <div class="flex">
             <mat-form-field class="flex-auto">
                <textarea
                matInput
                [placeholder]="'About'"
                [rows]="3"
                ></textarea>
                <mat-icon
                   class="icon-size-5"
                   matPrefix
                   [svgIcon]="'heroicons_solid:bars-3-bottom-left'"
                   ></mat-icon>
             </mat-form-field>
          </div>
          <mat-divider class="mb-10 mt-6"></mat-divider>
          <p class="text-lg font-medium">Notifications</p>
          <p class="text-secondary mb-6">
             We'll always let you know about important changes, but you
             pick what else you want to hear about.
          </p>
          <div class="gt-sm:flex-row flex flex-col">
             <div class="flex flex-col">
                <span class="mb-2 font-semibold">By Email</span>
                <div class="flex flex-col">
                   <mat-checkbox
                   class="mb-2"
                   [checked]="true"
                   [color]="'primary'"
                   >
                   Company News
                   </mat-checkbox>
                   <mat-checkbox class="mb-2" [color]="'primary'">
                      Featured Products
                   </mat-checkbox>
                   <mat-checkbox [checked]="true" [color]="'primary'">
                   Messages
                   </mat-checkbox>
                </div>
             </div>
          </div>
          <div
             class="-mx-8 mt-8 flex items-center justify-end border-t bg-gray-50 px-8 py-5 dark:bg-gray-700"
             >
             <button mat-button>Cancel</button>
             <button
                class="ml-3 px-6"
                mat-flat-button
                [color]="'primary'"
                >
             Save
             </button>
          </div>
       </form>
    </div>
 </div>