@if (visible) {
  <button mat-icon-button [matMenuTriggerFor]="userActions">
    <span class="relative">
      <div class="h-10 w-10 rounded-full">
        <div
          class="flex h-full w-full items-center justify-center rounded-full bg-gray-200 text-2xl font-semibold uppercase text-gray-600 dark:bg-gray-700 dark:text-gray-200"
        >
          @if (!user) {
            CS
          } @else {
            {{ name | initials }}
          }
        </div>
      </div>
    </span>
  </button>

  <mat-menu [xPosition]="'before'" #userActions="matMenu">
    <button mat-menu-item>
      <span class="flex flex-col leading-none">
        @if (user) {
          <span>Welcome {{ user.name }}</span>
        } @else {
          <span>Welcome Guest</span>
        }
      </span>
    </button>

    <mat-divider class="my-2"></mat-divider>

    @if (user) {
      @if (user.role === "Student") {
        <button mat-menu-item (click)="getMonthlyReport()">
          <mat-icon [svgIcon]="'heroicons_outline:users'"></mat-icon>
          <span>Monthly Report</span>
        </button>
      }

      @if (user.role === "Instructor") {
        <button mat-menu-item (click)="getMyStudents()">
          <mat-icon [svgIcon]="'heroicons_mini:chart-bar'"></mat-icon>
          <span>My Students</span>
        </button>
      }

      @if (user.role === "Instructor" || user.role === "Student") {
        <button mat-menu-item (click)="getUserAttendance()">
          <mat-icon [svgIcon]="'heroicons_solid:calendar'"></mat-icon>
          <span>Attendance</span>
        </button>
        <button mat-menu-item (click)="getUserInfo()">
          <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
          <span>Profile</span>
        </button>
      }

      @if (user.role === "Supervisor" || user.role === "Admin") {
        <button mat-menu-item (click)="addSessionInfo()">
          <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
          <span>Add Session Info</span>
        </button>
      }

      @if (user.role === "Admin") {
        <button mat-menu-item (click)="getStudentsList()">
          <mat-icon [svgIcon]="'heroicons_outline:queue-list'"></mat-icon>
          <span>Students</span>
        </button>
        <button mat-menu-item (click)="getInstructorsList()">
          <mat-icon [svgIcon]="'heroicons_outline:users'"></mat-icon>
          <span>Instructors</span>
        </button>
      }

      <mat-divider class="my-2"></mat-divider>

      <button mat-menu-item (click)="signOut()">
        <mat-icon
          [svgIcon]="'heroicons_outline:arrow-right-on-rectangle'"
        ></mat-icon>
        <span>Sign out</span>
      </button>
    } @else {
      <button mat-menu-item (click)="signIn()">
        <mat-icon
          [svgIcon]="'heroicons_outline:arrow-left-on-rectangle'"
        ></mat-icon>
        <span>Sign In</span>
      </button>
    }
  </mat-menu>
}
