<div class="grid max-w-screen w-full mb-10">
  <div class="flex mb-4 gap-4 items-center w-full">
    <button
      mat-icon-button
      class="text-gray-700 transition hover:opacity-75 dark:text-gray-200 ms-6 mt-2"
      (click)="goBack()"
      aria-label="Go back"
    >
      <mat-icon svgIcon="heroicons_outline:arrow-left"></mat-icon>
    </button>

    <p class="text-4xl mt-5 mb-5 font-semibold">Your Information</p>
  </div>

  <div class="flex justify-center w-full">
    <fuse-card class="max-w-fit w-full bg-card rounded-2xl shadow">
      <div class="ms-4 p-8 sm:p-6">
        <div class="flex flex-col lg:flex-row">
          <div class="mt-8 lg:mt-12 flex-1">
            <div class="grid grid-cols-1 sm:grid-cols-4 gap-x-8 gap-y-8">
              <div class="max-w-fit">
                <div class="text-secondary opacity-70">Name</div>
                <div class="mt-1 font-semibold">
                  {{ userProfile?.fullName }}
                </div>
              </div>

              <div class="max-w-fit">
                <div class="text-secondary opacity-70">Country</div>
                <div class="mt-1 font-semibold">
                  {{ userProfile?.country }}
                </div>
              </div>

              <div class="max-w-fit">
                <div class="text-secondary opacity-70">Status</div>
                <div class="mt-1 font-semibold">
                  {{ userProfile?.isActive ? "Active" : "InActive" }}
                </div>
              </div>

              <div class="max-w-fit">
                <div class="text-secondary opacity-70">Email</div>
                <div class="mt-1 font-semibold">
                  {{ userProfile?.email ? userProfile?.email : "--" }}
                </div>
              </div>

              @if (currentUser?.role === "Student") {
                <div class="max-w-fit">
                  <div class="text-secondary opacity-70">Age</div>
                  <div class="mt-1 font-semibold">
                    {{ userProfile?.age === 0 ? "--" : userProfile?.age }}
                  </div>
                </div>
              }

              @if (currentUser?.role === "Student") {
                <div class="max-w-fit">
                  <div class="text-secondary opacity-70">Fees</div>
                  <div class="mt-1 font-semibold">
                    @if (!userProfile?.fees || userProfile?.fees === 0) {
                      --
                    } @else {
                      {{ userProfile?.fees }}
                    }
                  </div>
                </div>
              }

              @if (currentUser?.role === "Student") {
                <div class="col-span-1 max-w-fit">
                  <div class="text-secondary opacity-70">Days &amp; Times</div>
                  <div class="mt-2 space-y-1 font-semibold">
                    @if (!userProfile?.weeklyAppointments) {
                      --
                    } @else {
                      @for (
                        appointment of userProfile.weeklyAppointments;
                        track appointment
                      ) {
                        <div class="font-semibold">
                          {{ appointment.dayOfWeek }} {{ appointment.time }}
                        </div>
                      }
                    }
                  </div>
                </div>
              }
              <div class="max-w-fit">
                <div class="text-secondary opacity-70">Phone Number</div>
                <div class="mt-1 font-semibold">
                  {{
                    userProfile?.phoneNumber ? userProfile?.phoneNumber : "--"
                  }}
                </div>
              </div>

              <div class="max-w-fit">
                <div class="text-secondary opacity-70">Zoom Link</div>
                <div class="mt-1 font-semibold">
                  <a
                    [href]="userProfile?.zoomMeeting"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="text-blue-600 hover:underline break-all"
                  >
                    {{ userProfile?.zoomMeeting }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fuse-card>
  </div>
</div>
