<!-- <div class="grid w-full justify-items-center">
  <div class="flex justify-between mb-3 w-full">
    <p class="text-4xl ms-10 mt-5 font-semibold">Timetable</p>
  </div>
  <div class="w-full">
    @for (session of sessions$ | async; track session) {
      <fuse-card
        class="filter-listing mx-auto flex w-full max-w-[90%] md:max-w-[80%] flex-col md:flex-row mb-4"
      >
        <div class="m-8 mb-4 flex flex-auto flex-col">
          <div class="text-lg font-medium text-dark mb-2">
            {{ session.sessionDateTime | date: "fullDate" }}
          </div>

          <div class="flex gap-4">
            <div>
              <img
                class="h-[80%] w-full object-cover"
                src="images/ui/angular-material/scenes/record-icon.png"
                alt="session"
              />
            </div>

            <div class="text-2xl font-semibold leading-tight">
              {{ session.courseName.join(" || ") }}

              <div class="text-base text-[#8E8E8E] mt-2">
                {{ session.instructorName.join(" || ") }}
              </div>

              <div class="text-base text-[#8E8E8E] mt-2">
                {{ session.sessionDateTime | date: "shortTime" }}
              </div>
            </div>

            <div class="ml-auto flex items-start">
              <button
                mat-flat-button
                color="primary"
                [disabled]="isDisabled(session)"
                (click)="joinSession(session)"
              >
                Join
              </button>
            </div>
          </div>
        </div>
      </fuse-card>
    }
  </div>
</div> -->
